.listOfVariables{
  display: flex;
}

.variable{
display: flex;
align-self: center;
align-items: center;
padding-left: 10px;
padding-right: 10px;
}

.containerCheckbox{
display: flex;
}

.checkbox{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.column{
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle, skyblue, steelblue);
  min-height: 100vh;
}

