.listOfVariables{
  display: flex;
}

.variable{
display: flex;
align-self: center;
align-items: center;
padding-left: 10px;
padding-right: 10px;
}

.containerCheckbox{
display: flex;
}

.checkbox{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.column{
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle, skyblue, steelblue);
  min-height: 100vh;
}

.button{
  margin-left: 4px;
  margin-top: 4px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: rgb(0, 78, 154, 1);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px;
}

.button:hover{
  color: #f6980c;
  transition: background-color 0.3s ease-in;
}

.deleteButton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.openModalsButton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.data{
  display: flex;
  justify-content: center;
}