.listOfVariables{
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: repeat(23, 1fr);
}

.variable{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 36px;
}
.checkbox{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 36px; */
  display: grid;
  grid-template-columns: repeat(23, 1fr);
}
.containerCheckbox{
  display: flex;
}

.values{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}